# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IDE
.idea/
.vagrant/

# Jenkins stuff
jenkins/config/secret*
jenkins/config/plugins/
jenkins/config/updates/
jenkins/config/userContent/
jenkins/config/jobs/*/builds/
jenkins/config/jobs/*/workspace/
jenkins/config/jobs/*/nextBuildNumber
jenkins/config/jobs/*/lastSuccessful
jenkins/config/jobs/*/lastStable
jenkins/config/queue.*
jenkins/config/hudson.*
jenkins/config/nodeMonitors.xml
jenkins/config/identity.key.enc
jenkins/config/.*
batch-install-jenkins-plugins.sh